*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #efeeec
}


.overview{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: 0;

}

.container > h2{
    font-size: 4em;
    
}

.garis{
    width: 100px;
    border: 1px solid;
    opacity: 1 ;
}

.project{
    width: 100vw;
    height: 100vh;
}

.sertifikat{
    margin-top: 20px;
}


.frame-project > a{
    text-decoration: none;
    color: black;
}

.link-project:hover{
    color: white;
    background-color: black;
    transition: 500ms;
}

.footer{
    width: 100vw;
    height: 40vh;
    background-color: black;
}

@media screen and (max-width:768px) {
    .overview{
        height: auto;
    }
    .sertifikat{
        height: auto;
    }
    .project{
        height: auto;
    }
}